{% spaceless %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mamamiya Event</title>
    {% block CSS %}
        <link rel="stylesheet" type="text/css" href="{{ asset("css/bootstrap.css") }}" media="screen"/>
        <link rel="stylesheet" type="text/css" href="{{ asset("css/icomoon.css") }}" media="screen"/>
        <link rel="stylesheet" type="text/css" href="{{ asset("css/main.css") }}" media="screen"/>
        <link rel="stylesheet" type="text/css" href="{{ asset("css/animate-custom.css") }}" media="screen"/>
        
        <link rel="stylesheet" type="text/css" href="{{ asset("http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic") }}" media="screen"/>
        <link rel="stylesheet" type="text/css" href="{{ asset("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800") }}" media="screen"/>


        {% stylesheets
        
        %}
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic" type="text/css" rel="stylesheet" />
        <link href="http://fonts.googleapis.com/css?family=Raleway:400,300,700" type="text/css" rel="stylesheet" />
        {%     endstylesheets %}
    {% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

{% endspaceless %}
    
    <script src="assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="assets/js/modernizr.custom.js"></script>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
